/* Introduction 아이콘 애니메이션 */
@keyframes wobbleRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Introduction 아이콘 애니메이션 */
.iconbox.card1:hover > i,
.iconbox.card2:hover > i,
.iconbox.card3:hover > i,
.iconbox.card4:hover > i
 {
  animation: wobbleRotate 0.5s ease-in-out;
}
