header {
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid #7f8c8d;
  padding: 10px 15px;
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo > p {
  font-size: 25px;
  font-weight: bold;
  border: ridge;
  padding: 5px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-right: 40px;
}

.list > li,
.hamburger {
  padding: 14px 16px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  font-weight: bold;
  transition: all 0.2s;
  list-style: none;
}

.list li:hover,
.hamburger:hover {
  background-color: #a7cdd6;
}

.hamburger {
  display: none; /* 초기설정으로, 완전히 사라지게 해둔 상태 */
}

/* 테블릿 */
@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .list > li {
    display: none;
  }
}
/* 모바일 */
@media screen and (max-width: 768px) {
  .logo > p {
    font-size: 14px;
  }
}
