.contents.num1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-bottom: 100px;
  background-image: url("../images/photo-1498354136128-58f790194fa7.jpg");
  background-size: cover;
}
.container > .contents > .wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container > .contents > .wrap > .home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container > .contents > .wrap > .home > h2 {
  position: absolute;
  z-index: 9;
  width: fit-content;
  left: -100%;
  /* left: 0; */
  top: 35%; /* 반응형으로 만들려면 %로 해주는 게 베스트 */
  font-size: 50px;
  font-weight: bold;
  opacity: 1;
  transition: all 1s 0.5s;
}

.container > .contents > .wrap > .home > .preview {
  position: absolute;
  width: 70vw;
  z-index: 9;
  left: -100%;
  /* left: 0; */
  top: 45%; /* 반응형으로 만들려면 %로 해주는 게 베스트 */
  font-size: 25px;
  opacity: 1;
  transition: all 0.6s 0.9s;
}
.container > .contents.num1:hover h2,
.container > .contents.num1:hover .preview {
  left: 0;
  opacity: 1;
}

/* 테블릿 */
@media screen and (max-width: 1024px) {
  .container > .contents > .wrap > .home > h2 {
    top: 30%;
    padding-left: 45px;
  }
  .container > .contents > .wrap > .home > .preview {
    top: 38%;
    width: 80vw;
    font-size: 25px;
    padding-left: 45px;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .container > .contents > .wrap > .home {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .container > .contents > .wrap > .home > h2 {
    width: 100%;
    top: 30%;
    font-size: 25px;
    padding: 0;
    text-align: center;
  }
  .container > .contents > .wrap > .home > .preview {
    width: 100%;
    top: 34%;
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
}
