.work {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}

.conbox a {
  position: relative;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  /* border: 1px solid rgb(212, 205, 205); */
  border-radius: 15px;
}

.work > h2 {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  left: 0;
  margin-bottom: 60px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border: 1px solid rgb(212, 205, 205);
  border-radius: 15px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  max-width: 280px;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h3,
.content .status {
  opacity: 0;
}

.box.card1 {
  background: url(https://ssing9.github.io/DoitWebSite_ex/images/mainLogo.png);
  background-size: 100% 100%;
  position: relative;
  font-size: 15px;
}

.box.card1:hover {
  background-color: #dfe6e9;
}

.box:hover .content h3,
.box:hover .content .status {
  opacity: 1;
}
/* .cardwrap1 {
    overflow: hidden;
} */
.cardwrap1:hover .card1,
.cardwrap2:hover .card2,
.cardwrap3:hover .card3,
.cardwrap4:hover .card4, 
.cardwrap5:hover .card5,
.cardwrap6:hover .card6,
.cardwrap7:hover .card7,
.cardwrap8:hover .card8 {
  background-color: #dfe6e9;
  opacity: 0.9;
  transform: scale(1.3);
}

.icon {
  font-size: 50px;
}

/* 테블릿 */
@media screen and (max-width: 1024px) {
  .conbox {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    height: 100%;
  }
  .work > h2 {
    padding-left: 45px;
  }
  .box {
    width: 300px;
    height: 300px;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .contents.num3 {
  padding-top: 200px;
  }
  .conbox {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  .work > h2 {
    font-size: 25px;
    padding: 0;
    text-align: center;
  }
    .box {
    width: 250px;
    height: 250px;
  }
}